html, body {
    margin: 0;
    padding: 0;
}
html, body {
    background: #252525;
    font-family: Arial, Helvetica, sans-serif;
    /* height: 100%; */
    text-align: center;
}
body {
    background: #363636;
    /* border-left: 1px solid #111;
    border-right: 1px solid #111; */
    margin: 0 22.5%;
}

.columns3-footer {
    display: flex;
    justify-content: space-between;
}

.footer1 {
    background-color:aqua;
    flex-grow: 1;
    /* text-align: left; */
}
.footer2 {
    background-color:rgb(0, 255, 55);
    flex-basis: 300px;
    flex-grow: 0;
}
.footer3 {
    background-color:rgb(0, 8, 255);
    flex-grow: 1;
    /* text-align: right; */
}


#container {
    color: white;
    margin-bottom: 2em;
    min-height: 100%;
    overflow: auto;
    padding: 0 2em;
    text-align: justify;
}
#footer {
    bottom: 0;
    color: #ffffff;
    background-color:rgb(13, 134, 134);
    /* height: 2em; */
    left: 0;
    position: fixed;
    /* font-size: small; */
    width:100%;
}