.text-field__icon label {
    color: white;
    margin-right: 6px;
}

.text-field__icon {
    position: relative;
    display: inline;
    margin-right: 2px;
}

.text-field__icon input {
    width: 170px;
    padding: 4px 8px;
    padding-right: 30px;
    border: 1px solid #024c75;
    border-radius: 8px;
    background-color: #e7f4fc;
    height: 2em;
}

.text-field__icon input:focus {
    outline: none;
    box-shadow: 0px 0px 6px 1px rgba(0, 55, 101, 0.3);
    background-color: #fff;
}

.text-field__icon input:hover {
    background: white;
    transition: all .3s;
}

.text-field__icon input::placeholder {
    color: #073059;
    opacity: 0.4;
}

.text-field__icon-left {
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    bottom: 0;
    right: 8px;
    cursor: pointer;
    color: #024c75;
    pointer-events: none;
}

form>button {
    border-radius: 8px;
    cursor: pointer;
    padding: 2px 8px;
    margin: 2px 2px;
    transition: all .3s;
    height: 2em;
    border: 1px solid #064664;
    background-color: #e4f6ff;
    color: #00537a;
    text-shadow: 0 2px 3px rgba(255, 255, 255, 0.8);
}

form>button:hover {
    background: white;
}