.container-header {
  width: 100%;
  z-index: 10;
  position: sticky;
  top: 0px;
  background-color: #2BACD7;
  background: linear-gradient(0deg, #18b3e7, #067fc1);
  text-align: center;
  padding: 4px;
}

.container-footer {
  width: 100%;
  z-index: 10;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #2BACD7;
  background: linear-gradient(180deg, #18b3e7, #067fc1);
  text-align: center;
  padding: 4px;
}

.random-btn {
  border: 1px solid #064664;
  background-color: #e4f6ff;
  color: #00537a;
  text-shadow: 0 2px 3px rgba(255, 255, 255, 0.8);
}
.random-btn:hover {
  background: white;
  padding: 10px 40px;
  color: #ab0000;
  /* border-color: #004c6f; */
}

.response-counter {
  color: #eefaff;
  font-size: 1.2em;
  /* margin-bottom: 6px; */
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.6);
  text-transform: uppercase;
}

.container-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 8em;
  margin-top: 0.8em;
}

.columns3-footer {
  display: flex;
  justify-content: space-between;
}
.footer1 {
  flex-grow: 1;
  text-align: right;
  margin: auto;
  flex-basis: 20%;
}
.footer2 {
  flex-basis: 420px;
  flex-grow: 0;
  margin: auto;
}
.footer3 {
  flex-grow: 1;
  text-align: left;
  margin: auto;
  flex-basis: 20%;
}
