:root {
  --border-radius: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana, sans-serif;
}

body {
  background-color: #F5F5F5;
  overflow: scroll;
}

.btns {
  border-radius: var(--border-radius);
  cursor: pointer;
  padding: 10px 20px;
  margin: 4px;
  transition: all .3s;
  font-size: 1.2em;	
}

h2, h3 {
  text-align: center;
  margin: 10px 0;
}
h2 a {
  color: black;
}
h3 {
  color:#6a6a6a;
}
h4 {
  font-size: 1.1em;
  margin-top: 14px;
}

hr {
  margin: 10px 80px 4px 80px;
  border-top: 2px dashed #9fa9ae;
	border-bottom: 1px dashed #fff;
}

a {
  text-decoration: none;
}

p {
  margin: 10px 0 10px;
  line-height: 1.4em;
}

ul {
  padding: 6px;
  margin: 4px 20px;
  margin-bottom: 0;
  padding-bottom: 0;
}

li {
  margin: 6px;
}

code, pre {
  font-family: Consolas, monospace;
  color: #0a129a;
  font-size: 1.1em;
  border-radius: 6px;
  background-color: white;
}
pre {
  display: block;
  padding: 12px;
  margin: 6px 0;
  /* font-size: 13px; */
  line-height: 1.3em;
  word-break: break-all;
  word-wrap: break-word;
  border: 1px solid rgb(168, 168, 168);
  }
code {
  padding: 2px 4px;
}

mark {
  padding: .2em;
  background-color: #fffc4d;
}